// Colors
$color_primary: #272a2e;
$color_secondary: #1d2124;
$color_tertiary: #37de61;
$color_text: #f2f4f5;

// Navbar properties
$nav_width: 3.2rem;
$nav_bg_color: $color_secondary;
$nav_shadow_color: #888;
$nav_svg_size: 2.2rem;
