@use "navbar";
@use "menus";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import "globals";

body {
    background-color: $color_primary;

    padding: 0;
    margin: 0;

    color: $color_text;

    outline: none;
}

main {
    z-index: 0;
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;

    margin-left: $nav_width;
}

.hidden {
    display: none;
}

.transparent {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

svg {
    fill: $color_text;
}

button,
a {
    @include default_button;
}
