@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import "globals";
@import "navbar";
@import "menus";
@import "keyboard";

body {
    background-color: $color_primary;

    padding: 0;
    margin: 0;

    color: $color_text;

    outline: none;

    transition: background-color 120ms ease-in-out;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
}

main {
    z-index: 0;
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;

    margin-left: $nav_width;
}

.hidden {
    display: none;
}

.transparent {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

svg {
    fill: $color_text;
}

button,
a {
    @include default_button;
}

div.overlay-container {
    background-color: rgba(0, 0, 0, 0.5);

    height: 100%;
    width: 100%;

    position: fixed;
    z-index: 1;

    top: 0;
    left: $nav_width;

    backdrop-filter: blur(20px);
}
