<div class="keyboard-layout-container">
    <div class="rows">
        <div class="row">
            <div class="keyboard_key" id="backtick">
                <span class="text-container">`</span>
            </div>
            <div class="keyboard_key" id="one">
                <span class="text-container">1</span>
            </div>
            <div class="keyboard_key" id="two">
                <span class="text-container">2</span>
            </div>
            <div class="keyboard_key" id="three">
                <span class="text-container">3</span>
            </div>
            <div class="keyboard_key" id="four">
                <span class="text-container">4</span>
            </div>
            <div class="keyboard_key" id="five">
                <span class="text-container">5</span>
            </div>
            <div class="keyboard_key" id="six">
                <span class="text-container">6</span>
            </div>
            <div class="keyboard_key" id="seven">
                <span class="text-container">7</span>
            </div>
            <div class="keyboard_key" id="eight">
                <span class="text-container">8</span>
            </div>
            <div class="keyboard_key" id="nine">
                <span class="text-container">9</span>
            </div>
            <div class="keyboard_key" id="zero">
                <span class="text-container">0</span>
            </div>
            <div class="keyboard_key" id="minus">
                <span class="text-container"> - </span>
            </div>
            <div class="keyboard_key" id="equals">
                <span class="text-container">=</span>
            </div>
            <div class="keyboard_key" id="backspace">
                <span class="text-container">backspace</span>
            </div>
        </div>
        <div class="row">
            <div class="keyboard_key" id="tab">
                <span class="text-container">tab</span>
            </div>
            <div class="keyboard_key" id="q">
                <span class="text-container">q</span>
            </div>
            <div class="keyboard_key" id="w">
                <span class="text-container">w</span>
            </div>
            <div class="keyboard_key" id="e">
                <span class="text-container">e</span>
            </div>
            <div class="keyboard_key" id="t">
                <span class="text-container">r</span>
            </div>
            <div class="keyboard_key" id="y">
                <span class="text-container">t</span>
            </div>
            <div class="keyboard_key" id="r">
                <span class="text-container">y</span>
            </div>
            <div class="keyboard_key" id="u">
                <span class="text-container">u</span>
            </div>
            <div class="keyboard_key" id="i">
                <span class="text-container">i</span>
            </div>
            <div class="keyboard_key" id="o">
                <span class="text-container">o</span>
            </div>
            <div class="keyboard_key" id="p">
                <span class="text-container">p</span>
            </div>
            <div class="keyboard_key" id="left_bracket">
                <span class="text-container">[</span>
            </div>
            <div class="keyboard_key" id="right_bracket">
                <span class="text-container">]</span>
            </div>
            <div class="keyboard_key" id="backslash">
                <span class="text-container">\</span>
            </div>
        </div>
        <div class="row">
            <div class="keyboard_key" id="capslock">
                <span class="text-container">capslock</span>
            </div>
            <div class="keyboard_key" id="a">
                <span class="text-container">a</span>
            </div>
            <div class="keyboard_key" id="s">
                <span class="text-container">s</span>
            </div>
            <div class="keyboard_key" id="d">
                <span class="text-container">d</span>
            </div>
            <div class="keyboard_key" id="f">
                <span class="text-container">f</span>
            </div>
            <div class="keyboard_key" id="g">
                <span class="text-container">g</span>
            </div>
            <div class="keyboard_key" id="h">
                <span class="text-container">h</span>
            </div>
            <div class="keyboard_key" id="j">
                <span class="text-container">j</span>
            </div>
            <div class="keyboard_key" id="k">
                <span class="text-container">k</span>
            </div>
            <div class="keyboard_key" id="l">
                <span class="text-container">l</span>
            </div>
            <div class="keyboard_key" id="semicolon">
                <span class="text-container">;</span>
            </div>
            <div class="keyboard_key" id="quote">
                <span class="text-container">'</span>
            </div>
            <div class="keyboard_key" id="enter">
                <span class="text-container">enter</span>
            </div>
        </div>
        <div class="row">
            <div class="keyboard_key" id="shift_left">
                <span class="text-container">shift</span>
            </div>
            <div class="keyboard_key" id="z">
                <span class="text-container">z</span>
            </div>
            <div class="keyboard_key" id="x">
                <span class="text-container">x</span>
            </div>
            <div class="keyboard_key" id="c">
                <span class="text-container">c</span>
            </div>
            <div class="keyboard_key" id="v">
                <span class="text-container">v</span>
            </div>
            <div class="keyboard_key" id="b">
                <span class="text-container">b</span>
            </div>
            <div class="keyboard_key" id="n">
                <span class="text-container">n</span>
            </div>
            <div class="keyboard_key" id="m">
                <span class="text-container">m</span>
            </div>
            <div class="keyboard_key" id="comma">
                <span class="text-container">,</span>
            </div>
            <div class="keyboard_key" id="period">
                <span class="text-container">.</span>
            </div>
            <div class="keyboard_key" id="slash">
                <span class="text-container">/</span>
            </div>
            <div class="keyboard_key" id="shift_right">
                <span class="text-container">shift</span>
            </div>
        </div>
        <div class="row">
            <div class="keyboard_key" id="control_left">
                <span class="text-container">ctrl</span>
            </div>
            <div class="keyboard_key transparent" id="meta_left"></div>
            <div class="keyboard_key" id="alt_left">
                <span class="text-container">alt</span>
            </div>
            <div class="keyboard_key" id="space"></div>
            <div class="keyboard_key" id="alt_right">
                <span class="text-container">alt</span>
            </div>
            <div class="keyboard_key transparent" id="function"></div>
            <div class="keyboard_key" id="context_menu">
                <span class="text-container">?</span>
            </div>
            <div class="keyboard_key" id="control_right">
                <span class="text-container">ctrl</span>
            </div>
        </div>
    </div>
</div>
