.key-config-container {
    width: 40rem;
    height: 32rem;

    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    text-align: center;

    border: 2px solid $color_tertiary;
    border-radius: 1.2rem;

    background-color: $color_secondary;

    & > div {
        height: 100%;
        width: 50%;

        margin: 0;
    }
    .key-preview {
        float: left;

        .preview-container {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            .keyboard_key {
                width: $key_size * 2;
                height: $key_size * 2;

                line-height: $key_size * 2;

                margin: 0 auto;

                .text-container {
                    font-size: 2rem;
                }
            }
        }
    }
    .key-config {
        float: right;
    }
}

.layout-configure {
    .page.layout-create #create_layout_button {
        width: 10rem;
        height: 3rem;

        margin: 0 auto;

        border: solid 2px $color_tertiary;
        border-radius: 0.4rem;
        background-color: $color_secondary;

        outline: none;

        & > span {
            transition: color 120ms ease-in-out;

            color: $color_tertiary;

            font-size: 1.2rem;
            font-weight: 500;
        }

        &:hover {
            background-color: $color_tertiary;

            cursor: pointer;
        }
        &:hover > span {
            color: $color_secondary;
        }
    }

    .page.layout-create > .layout-name-input-container {
        #layout-name-input {
            font-family: inherit;
            font-weight: 500;
            font-size: 1.2rem;

            background-color: inherit;

            border: none;
            border-bottom: 2px solid $color_tertiary;
            outline: none;

            color: $color_text;

            &::placeholder {
                color: $color_text;
                opacity: 0.8;

                transition: opacity 82ms ease-in-out;
            }

            &:focus {
                &::placeholder {
                    opacity: 0;
                }
            }

            caret-color: $color_text;
        }
    }

    .page.no-layouts > .button_container {
        display: flex;
        flex-direction: column;

        a {
            @include default_button;

            width: 10rem;

            margin: 0.4rem auto;
            padding: 0.4rem 0;

            border-radius: 2rem;
            border: 2px solid $color_text;

            background-color: $color_secondary;

            svg {
                max-width: 1rem;
                margin: 0;

                transition: fill 120ms ease-in-out;
            }

            span.text {
                color: $color_text;

                transition: color 120ms ease-in-out;
            }

            &:hover {
                background-color: $color_text;
                cursor: pointer;

                span {
                    color: $color_secondary;
                }
                svg {
                    fill: $color_secondary;
                }
            }
        }
    }
}
