<div class="menu layout-configure hidden">
    <div class="page layout-create hidden">
        <div class="layout-name-input-container">
            <input
                type="text"
                placeholder="Layout Name"
                id="layout-name-input"
            />
        </div>
        <div class="keyboard-container">
            
        </div>
        <div class="create_layout_button_container">
            <button href="#" id="create_layout_button">
                <span class="text">Create</span>
            </button>
        </div>
    </div>
    <div class="page layout-import hidden"></div>
    <div class="page no-layouts hidden">
        <p>You have no layouts available!</p>
        <div class="button_container">
            <a href="#" id="layout_create">
                <span class="text">Create Layout</span>
                <svg class="fa-edit"></svg>
            </a>
            <a href="#" id="layout_import">
                <span class="text">Import layout</span>
                <svg class="fa-upload"></svg>
            </a>
        </div>
    </div>
</div>
