<div class="menu layout-configure hidden">
    <div class="page layout-create hidden">
        <div class="layout-name-input-container">
            <input
                type="text"
                placeholder="Layout Name"
                id="layout-name-input"
            />
        </div>
        <div class="keyboard-layout-container">
            <div class="rows">
                <div class="row">
                    <div class="key" id="backtick">
                        <div id="plus_svg"></div>
                        <div id="text_container">backtick</div>
                    </div>
                    <div class="key" id="one"></div>
                    <div class="key" id="two"></div>
                    <div class="key" id="three"></div>
                    <div class="key" id="four"></div>
                    <div class="key" id="five"></div>
                    <div class="key" id="six"></div>
                    <div class="key" id="seven"></div>
                    <div class="key" id="eight"></div>
                    <div class="key" id="nine"></div>
                    <div class="key" id="zero"></div>
                    <div class="key" id="minus"></div>
                    <div class="key" id="equals"></div>
                    <div class="key" id="backspace"></div>
                </div>
                <div class="row">
                    <div class="key" id="tab"></div>
                    <div class="key" id="q"></div>
                    <div class="key" id="w"></div>
                    <div class="key" id="e"></div>
                    <div class="key" id="r"></div>
                    <div class="key" id="t"></div>
                    <div class="key" id="y"></div>
                    <div class="key" id="u"></div>
                    <div class="key" id="i"></div>
                    <div class="key" id="o"></div>
                    <div class="key" id="p"></div>
                    <div class="key" id="left_bracket"></div>
                    <div class="key" id="right_bracket"></div>
                    <div class="key" id="backslash"></div>
                </div>
                <div class="row">
                    <div class="key" id="capslock"></div>
                    <div class="key" id="a"></div>
                    <div class="key" id="s"></div>
                    <div class="key" id="d"></div>
                    <div class="key" id="f"></div>
                    <div class="key" id="g"></div>
                    <div class="key" id="h"></div>
                    <div class="key" id="j"></div>
                    <div class="key" id="k"></div>
                    <div class="key" id="l"></div>
                    <div class="key" id="semicolon"></div>
                    <div class="key" id="quote"></div>
                    <div class="key" id="enter"></div>
                </div>
                <div class="row">
                    <div class="key" id="shift_left"></div>
                    <div class="key" id="z"></div>
                    <div class="key" id="x"></div>
                    <div class="key" id="c"></div>
                    <div class="key" id="v"></div>
                    <div class="key" id="b"></div>
                    <div class="key" id="n"></div>
                    <div class="key" id="m"></div>
                    <div class="key" id="comma"></div>
                    <div class="key" id="period"></div>
                    <div class="key" id="slash"></div>
                    <div class="key" id="shift_right"></div>
                </div>
                <div class="row">
                    <div class="key" id="control_left"></div>
                    <div class="key transparent" id="meta_left"></div>
                    <div class="key" id="alt_left"></div>
                    <div class="key" id="space"></div>
                    <div class="key" id="alt_right"></div>
                    <div class="key transparent" id="function"></div>
                    <div class="key" id="context_menu"></div>
                    <div class="key" id="control_right"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page layout-import hidden"></div>
    <div class="page no-layouts hidden">
        <p>You have no layouts available!</p>
        <div class="button_container">
            <a href="#" id="layout_create">
                <span class="text">Create Layout</span>
                <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="edit"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                >
                    <path
                        d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"
                    ></path>
                </svg>
            </a>
            <a href="#" id="layout_import">
                <span class="text">Import layout</span>
                <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="upload"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                >
                    <path
                        d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"
                    ></path>
                </svg>
            </a>
        </div>
    </div>
</div>